@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: 'Fira Code', monospace;

  --animate-shake: shake 0.35s 3;
  --animate-pop-in: pop-in 250ms;

  @keyframes shake {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(3px);
    }
    50% {
      transform: translateX(-3px);
    }
    75% {
      transform: translateX(3px);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes pop-in {
    0% {
      scale: 0.9;
    }
    40% {
      scale: 1.05;
    }
  }
}

@layer base {
  body {
    @apply bg-neutral-100 text-neutral-950 dark:bg-gray-950 dark:text-white;
  }
}
